html {
  background-color: #ebebeb;
  font-size: 100px;
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial,Verdana,Sans-serif;
}

body,
div,
header,
footer,
button,
img,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
ol,
p,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
b,
strong {
  font-weight: normal;
}

input {
  border: none;
  outline: 0;
}

em,
i {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left;
}

ol,
ul {
  list-style: none;
}

img {
  border: 0;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfloat:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.';
}

::-webkit-scrollbar {
  display: none;
}

.cart_page {
  position: relative;
  height: 100%;
  overflow-y: auto;
}
.cart_page .header {
  height: 0.38rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart_page .header .left {
  width: 0.2rem;
  height: 0.2rem;
  margin: 0 0.1rem;
  display: flex;
}
.cart_page .header .left .icon-fanhui1 {
  font-size: 0.2rem;
  color: #666;
}
.cart_page .header .title {
  flex: 1;
  font-size: .15rem;
  color: #666;
  font-weight: 400;
  text-align: center;
}
.cart_page .header .right {
  width: 0.2rem;
  height: 0.2rem;
  margin: 0 0.1rem;
  display: flex;
}
.cart_page .header .right .icon-search01 {
  font-size: 0.2rem;
  color: #666;
}
.cart_page .noitems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.cart_page .noitems .gologin {
  width: 3.2rem;
  height: 0.46rem;
  background: #fff;
  display: flex;
  align-items: center;
}
.cart_page .noitems .gologin a {
  display: block;
  padding: 0 0.1rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_page .noitems .gologin a div {
  font-size: 0.14rem;
}
.cart_page .noitems .gologin a span {
  font-size: 0.12rem;
  color: rgba(0, 0, 0, 0.54);
}
.cart_page .noitems .gologin a span i {
  font-size: 0.14rem;
}
.cart_page .noitems .noitems_1 {
  height: 0.46rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart_page .noitems .noitems_1 i {
  display: block;
  width: 0.34rem;
  height: 0.34rem;
  background: url("../imgs/cart/cartnull_0de91f1.png") no-repeat;
  background-size: auto 100%;
}
.cart_page .noitems .noitems_1 span {
  display: block;
  font-size: 0.12rem;
  color: rgba(0, 0, 0, 0.27);
  margin: 0 0.1rem;
}
.cart_page .noitems .noitems_1 a {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  height: .25rem;
  line-height: .25rem;
  padding: 0 .12rem;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.12rem;
}
.cart_page .noitems .list-recommend {
  background: #fff;
  width: 100%;
  margin-bottom: 0.4rem;
}
.cart_page .noitems .list-recommend .recommend-title {
  height: 0.35rem;
  line-height: 0.35rem;
  font-size: 0.15rem;
  padding-left: 0.15rem;
}
.cart_page .noitems .list-recommend .recommend-list ul {
  display: flex;
  flex-wrap: wrap;
}
.cart_page .noitems .list-recommend .recommend-list ul li {
  flex: 1;
  padding-right: 0.02rem;
  display: flex;
  box-sizing: border-box;
}
.cart_page .noitems .list-recommend .recommend-list ul li a {
  display: flex;
  flex-direction: column;
}
.cart_page .noitems .list-recommend .recommend-list ul li a .smallImg {
  width: 1.58rem;
  height: 1.58rem;
  display: flex;
}
.cart_page .noitems .list-recommend .recommend-list ul li a .smallImg img {
  display: block;
  width: 100%;
  height: 100%;
}
.cart_page .noitems .list-recommend .recommend-list ul li a .recommend-info {
  height: 0.46rem;
  padding-left: 0.15rem;
  padding-top: 0.06rem;
}
.cart_page .noitems .list-recommend .recommend-list ul li a .recommend-info .recommend-name {
  font-size: 0.12rem;
  color: rgba(0, 0, 0, 0.87);
  white-space: nowrap;
  overflow: hidden;
}
.cart_page .noitems .list-recommend .recommend-list ul li a .recommend-info .recommend-price {
  font-size: 0.14rem;
  color: #ff6000;
  margin-top: 0.05rem;
}
.cart_page .noitems .list-recommend .recommend-list ul li:nth-child(2n) {
  padding-right: 0;
  padding-left: 0.02rem;
}
.cart_page .footer_top {
  height: 0.45rem;
}
.cart_page .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF;
  z-index: 99;
  border-top: 1px solid #e0e0e0;
  height: 0.4rem;
}
.cart_page .footer ul {
  display: flex;
  align-items: center;
  height: 100%;
}
.cart_page .footer ul a {
  flex: 1;
  display: block;
  display: flex;
}
.cart_page .footer ul a li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart_page .footer ul a li .icon_1 {
  width: 0.2rem;
  height: 0.18rem;
  background: url("../imgs/index/spr1_5b2e09c.png");
  background-position-y: -1.4rem;
  background-size: .2rem 1.6rem;
}
.cart_page .footer ul a li .icon_1.active {
  background-position-y: -1.2rem;
}
.cart_page .footer ul a li .icon_2 {
  width: 0.2rem;
  height: 0.18rem;
  background: url("../imgs/index/spr1_5b2e09c.png");
  background-position-y: -0.2rem;
  background-size: .2rem 1.6rem;
}
.cart_page .footer ul a li .icon_2.active {
  background-position-y: -0rem;
}
.cart_page .footer ul a li .icon_3 {
  width: 0.2rem;
  height: 0.18rem;
  background: url("../imgs/index/spr1_5b2e09c.png");
  background-position-y: -0.6rem;
  background-size: .2rem 1.6rem;
}
.cart_page .footer ul a li .icon_3.active {
  background-position-y: -0.4rem;
}
.cart_page .footer ul a li .icon_4 {
  width: 0.2rem;
  height: 0.18rem;
  background: url("../imgs/index/spr1_5b2e09c.png");
  background-position-y: -1rem;
  background-size: .2rem 1.6rem;
}
.cart_page .footer ul a li .icon_4.active {
  background-position-y: -0.8rem;
}
.cart_page .footer ul a li p {
  font-size: 0.12rem;
  color: #999;
}

/*# sourceMappingURL=cart.css.map */
