@charset "utf-8";
@import "base";
body{
  box-sizing: border-box;
}
.header{
  .page-title{
    color:$fontColor;
    font-weight:bold;
  }
  .left-btn{
     a{
       color:$fontColor;
     }
  }
}

.registerCon{
  width:100%;
  padding-top:pxToRem(12);
  .register{
    background:$whiteColor;
    font-size:$midFont;
    li{
      height:pxToRem(58);
      line-height:pxToRem(58);

      label{
        padding-left:pxToRem(5);
        width:pxToRem(50);
        display:inline-block;
        color:#000;
        font-weight:bold;
      }
      input{
        border:0;
        padding-left:pxToRem(5);
        outline: none;
        font-weight:bold;
      }
      span{
        width:pxToRem(70);
        height:pxToRem(30);
        line-height:pxToRem(30);
        text-align:center;
        display:inline-block;
        font-size:$smFont;
        color:$whiteColor;
        background:#d4d4d4;
        font-weight:bold;
        border-radius:pxToRem(4);
        padding-left:pxToRem(5);
      }
      i{
        color:$hoverColor;
        display:none;
      }
    }
    .agree{
      width:100%;
      padding-bottom:pxToRem(15);
      background:$contentBg;
      p{
        padding-left:pxToRem(8);
        color:#818088;
        font-weight:bold;
        a{
          color:$hoverColor;
        }
      }
    }
  }
  
}
