<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>vue</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>

<div id="app">
    {{msg}}
    <input type="text" v-model="userInfo.name">
    <input type="text" v-model="userInfo.age">
</div>

<script src="../node_modules/vue/dist/vue.js"></script>

<script>
    (function(){
        var vm = new Vue({
            el:"#app",
            data:{
                msg:"hello",
                userInfo: {
                    name:"zhangsan",
                    age:20
                }
            },
            watch:{
                 userInfo:{
                     handler:function(n,o){
                        console.log(n.age);
                     },
                     deep:true
                 }

            }
        });

    })()
</script>
</body>
</html>
