<div class="list-recommend">
	<div class="recommend-title">
		为你推荐
	</div>
	<div class="recommend-list">
		<ul>
			<li>
				<a href="###">
					<div class="smallImg">
						<img src="imgs/cart/bd2c6b2f01469ae44fb39d50634e05a3.jpg" />
					</div>
					<div class="recommend-info">
						<div class="recommend-name">
							小米米家电动滑板车
						</div>
						<div class="recommend-price">
							￥1999
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="###">
					<div class="smallImg">
						<img src="imgs/cart/7c5a0163e0061df51c21fce1254b0467.jpg" />
					</div>
					<div class="recommend-info">
						<div class="recommend-name">
							网络收音机增强版
						</div>
						<div class="recommend-price">
							￥149
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="###">
					<div class="smallImg">
						<img src="imgs/cart/d0aa939300df7b4d71f3db8e6dfce7b3.jpg" />
					</div>
					<div class="recommend-info">
						<div class="recommend-name">
							小蚁微单相机M1
						</div>
						<div class="recommend-price">
							￥2999
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="###">
					<div class="smallImg">
						<img src="imgs/cart/342f6366341171367a6e239f44d90ffb.jpg" />
					</div>
					<div class="recommend-info">
						<div class="recommend-name">
							小米路由器Pro
						</div>
						<div class="recommend-price">
							￥499
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>