<div class="attrsQaView">
				<div class="product">
					<p class="has">已选</p>
					<p class="productInfo">小米Note 2 4GB+64GB 亮银黑 x1	</p>				
				</div>
				<i class="iconfont icon-qianjin"></i>	
			</div>
			<div class="productActive">
				<div class="tive">
					<p class="title">促销</p>
					<p class="cicon-text">分期</p>				
				</div>
				<i class="iconfont icon-qianjin"></i>	
			</div>
			<div class="address">
				<div class="active_desc">
					<div class="icon-gps">
						<img src="imgs/detail/gps1_96e2f59.png"/>
					</div>
					<span>请选择配送地址</span>
				</div>
				<i class="iconfont icon-qianjin"></i>	
			</div>
			<div class="relatePartsView">				
				<div class="relateproduct">
					<p class="title">选购配件</p>
					<p class="info">耳机、移动电源</p>				
				</div>
				<i class="iconfont icon-qianjin"></i>				
			</div>
			<div class="commentView">			
				<a href="comment.html">
					<div class="header-comment">
						<div class="left">
							用户评价(7068)
						</div>
						<div class="right">
							查看全部评价
							<i class="iconfont icon-qianjin"></i>	
						</div>
					</div>
				</a>
			</div>
			