<div class="index-header">
<footer class="footer">
	<ul class='footer_nav'>
		<a ui-sref="main.index">
			<li>
				<div class="nav_list icon_1 active">

				</div>
				<p style="color: #FF5722;">首页</p>
			</li>
		</a>
		<a ui-sref="main.sort">
			<li>
				<div class="nav_list icon_2">

				</div>
				<p>分类</p>
			</li>
		</a>
		<a ui-sref="main.cart">
			<li>
				<div class="nav_list icon_3">

				</div>
				<p>购物车</p>
			</li>
		</a>
		<a ui-sref="main.my">
			<li>
				<div class="nav_list icon_4">

				</div>
				<p>我的</p>
			</li>
		</a>
	</ul>
</footer>
</div>