
	<header class="header" style="background-color: rgba( 229, 131, 53,0);">
		<div class="logo">
			<img src="imgs/index/logo_e6453b2.png" />
		</div>
		<div class="search_bar">
			<a href="#/search">
				<div class="searchbtn">
					<i class="iconfont icon-search01"></i>
				</div>
				<span class="text">搜索商品名称</span>
			</a>
		</div>
		<div class="login">
			<a id="login_1" href="#/login">登录</a>
			<a href="#/main/my" id="a1"><img id="imgs_1" src="imgs/index/user_0319ba0.png" /></a>
		</div>
	</header>
