<div class="items">
				<ul>
					<a href="###">
						<li>
							<div class="left">
								<i class="left_1"></i>
								<span>我的优惠</span>
							</div>
							<span class="iconfont icon-qianjin"></span>
						</li>
					</a>
				</ul>
				<ul>
					<a href="###">
						<li class="active">
							<div class="left">
								<i class="left_2"></i>
								<span>服务中心</span>
							</div>
							<span class="iconfont icon-qianjin"></span>
						</li>
					</a>
					<a href="###">
						<li>
							<div class="left">
								<i class="left_3"></i>
								<span>小米之家</span>
							</div>
							<span class="iconfont icon-qianjin"></span>
						</li>
					</a>
				</ul>
				<ul>
					<a href="###">
						<li>
							<div class="left">
								<i class="left_4"></i>
								<span>设置</span>
							</div>
							<span class="iconfont icon-qianjin"></span>
						</li>
					</a>
				</ul>
			</div>