
	<header class="header" style="background-color: rgba( 229, 131, 53,0);">
		<div class="logo">
			<a href="#/main/index"><img id="logo_1" src="imgs/topic/back2_085f04b.png" /></a>
		</div>
		<div class="search_bar">
			<a href="#/search">
				<div class="searchbtn">
					<i class="iconfont icon-search01"></i>
				</div>
				<span class="text">搜索商品名称</span>
			</a>
		</div>
		<div class="login">
			<a href="#/main/cart"><img id="imgs_1" src="imgs/topic/cart_white_35b9dc4.png" /></a>
		</div>
	</header>

	<div class="banner">
		<div id="slider" class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="###">
						<img src="imgs/topic/1a73991c44bb882b7b09b1740fa6552a.jpg" />
					</a>
				</div>
				<div class="swiper-slide">
					<a href="###">
						<img src="imgs/topic/bb9c0d959b3a958c57afb6b64b6dfd88.jpg" />
					</a>
				</div>
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination"></div>
		</div>
	</div>
	
