@charset "UTF-8";
@import "./common";

.share{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;    
    display: none;
    .share_shadow{
       position: fixed;
       width: 100%;
       height: 100%;
        background: rgba(0,0,0,0.6);
    }
    .share_foot{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 11;  
        height: 0.63rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        .share_ion{
            font-size: 0.25rem;
            color: #EB5943;
        }
        .share_name{
            font-size: 0.1rem;
        }
    }
}
.detil_page {  
    height: 100%;
    overflow-y: auto;
    position: relative;
    .fixed-header{
        position: absolute;
        top: 0;
    left: 0;
    right: 0;
        height: 0.35rem;
        padding: 0 .15rem;
        background-color: rgba(255,255,255,0);      
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            width: 0.2rem;
            height: 0.2rem;          
            a{
                display: flex;               
            }
        }
        .right{
            width: 0.2rem;
            height: 0.2rem;                           
        }
    }
    .header_img{
        height: 3.30rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .titleView{
        padding: 0.1rem;
        background: #fff;
        .name{
            font-size: .16rem;
            line-height: .24rem;
            color: rgba(0,0,0,.87);
        }
        .product_desc{
            margin-top: .04rem;
            font-size: .12rem;
            color: rgba(0,0,0,.54);
            line-height: .18rem;
        }
        .price{
            padding: 0.04rem 0;
            font-size: .18rem;
             color: #f56600;
            border-bottom: 1px solid #f4f4f4;
        }
    }
    .attrsQaView{
        padding: 0 .15rem .15rem;    
        border-bottom: .08rem solid #efeff0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        .product{
            display: flex;
            flex-direction: column;
            .has{
                font-size: .12rem;
                color: rgba(0,0,0,.54);
            }
            .productInfo{
                margin-top: .05rem;
                font-size: .12rem;
                color: rgba(0,0,0,.87);
                line-height: .2rem;
            }
    
        }
        .icon-qianjin{
            font-size: 0.12rem;
            color: rgba(0,0,0,.54);
        }
    }
    .productActive{
        border-bottom: .08rem solid #efeff0;
        padding: .08rem .15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        .tive{
            display: flex;
            flex-direction: column;
            .title{
                font-size: .12rem;
                color: rgba(0,0,0,.54);
            }
            .cicon-text{
                font-size: .1rem;
                color: #f56600;
                border: 1px solid #f56600;
                border-radius: 1px;
                padding: .01rem .05rem;
                margin-top: .05rem;              
            }
        }
        .icon-qianjin{
            font-size: 0.12rem;
            color: rgba(0,0,0,.54);
        }
    }
    .address{
        border-bottom: .08rem solid #efeff0;
        padding: .15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        .active_desc{
            display: flex;
            align-items: center;
            .icon-gps{
                width: 0.1rem;
                height: 0.14rem;
                display: flex;
                margin-right: 0.08rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            span{
               font-size: .12rem;
                color: rgba(0,0,0,.87); 
            }
        }
        .icon-qianjin{
            font-size: 0.12rem;
            color: rgba(0,0,0,.54);
        }
    }
    .relatePartsView{
        padding: 0.1rem 0.15rem;    
        border-bottom: .08rem solid #efeff0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        .relateproduct{
            display: flex;
            flex-direction: column;
            .title{
                font-size: .12rem;
                color: rgba(0,0,0,.54);
            }
            .info{
                margin-top: .05rem;
                font-size: .12rem;
                color: rgba(0,0,0,.87);
                line-height: .2rem;
            }
    
        }
        .icon-qianjin{         
            font-size: 0.12rem;
            color: rgba(0,0,0,.54);
        }
    }
    .commentView{
        padding: 0 0.15rem;
        display: flex;
        background: #fff;
        a{     
            flex: 1;  
            display: flex;           
            padding: 0.1rem 0;
            .header-comment{
                flex: 1;  
                display: flex;
                justify-content: space-between; 
                font-size: .12rem;
                color: rgba(0,0,0,.87);
                .icon-qianjin{
                    font-size: 0.12rem;
                    color: rgba(0,0,0,.54);
                }  
            }  
        } 
    }
     .footer_top {
        height: 0.45rem;
    }
    .product-footer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;                    
        display: flex;
        height: 0.45rem;      
        a{
            display: block;
            width: 0.6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #f4f4f4;
            border-top: 1px solid #f4f4f4;
            i{
               font-size: 0.2rem;
                color: rgba(0,0,0,.54); 
            }
            .p{
                font-size: .12rem;
                color: rgba(0,0,0,.72);
            }
        }
        .addCart{
            display: flex;           
            justify-content: center;
            align-items: center;          
            width: 1rem;
            background-color: #f90;
            color: #fff;
            font-size: 0.14rem;
        }
        .buyNow{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;      
            background-color: #f95b07;
            color: #fff;
            font-size: 0.14rem;            
        }
    }
}   