@charset "UTF-8";
@import "./common";
.login_page {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    .layout {
        flex: 1;
        margin: 0 0.2rem;
        .lgnheader {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.4rem 0 0.2rem;
            .header_tit {
                width: 0.49rem;
                height: 0.48rem;
                display: flex;
                margin-bottom: 0.22rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .header_tit_txt {
                font-size: .2rem;
                color: #424242;
                font-weight: normal;
                margin-bottom: 0.1rem;
            }
        }
        .lgn_inputbg {
            display: flex;
            flex-direction: column;
            .login_user {
                border-radius: 0.16rem 0.16rem 0 0;
                border: 1px solid rgba(11, 3, 5, 0.1);
                display: flex;
                background: #fff;
                border-bottom: 1px solid rgba(11, 3, 5, 0.1);
                padding: 0 0.1rem;
                #username {
                    display: block;
                    width: 100%;
                    font-size: 0.16rem;
                    padding: 0.1rem 0;
                }
            }
            .login_pass {
                border-radius: 0 0 0.16rem 0.16rem;
                border: 1px solid rgba(11, 3, 5, 0.1);
                display: flex;
                background: #fff;
                padding: 0 0.1rem;
                #userpass {
                    width: 100%;
                    display: block;
                    font-size: 0.16rem;
                    padding: 0.1rem 0;
                }
            }
        }
        .lgncode {
            font-size: 0.14rem;
            height: 0.2rem;
            line-height: 0.2rem;
            color: #f56700;
            margin: 0.05rem 0;
        }
        .btns_bg {
            height: 0.42rem;
            line-height: 0.42rem;
            text-align: center;
            background: #33b4ff;
            font-size: .16rem;
            color: #fff;
            border-radius: 0.2rem;
            margin: 0.25rem 0;
        }
        .oth_type_tit {
            border-top: 1px dashed #ccc;
            .oth_type_txt {
                font-size: .14rem;
                color: #b0b0b0;
                text-align: center;
                margin-top: -0.1rem;
            }
            .oth_type_links {
                display: flex;
                justify-content: center;
                margin-top: 0.1rem;
                a {
                    display: flex;
                    width: 0.45rem;
                    height: 0.45rem;
                    margin: 0 0.1rem;
                    display: inline-block;
                    border-radius: 50%;
                    font-size: 0.45rem;                    
                }
                a:nth-child(1){
                    color: #0288D1;
                }
                 a:nth-child(2){
                    color: #D32F2F;
                }
                 a:nth-child(3){
                    color: #00AAEE;
                }
            }
        }
        .n_links_area {
            padding: 0.2rem 0 0.1rem;           
            color: #e0e0e0;
            display: flex;
            justify-content: center;
            a{             
                font-size: .14rem;
                color: #757575;
                span{
                    margin: 0 0.05rem;
                    color: #ccc;
                }
            }
        }
    }
    .footer {
        height: 0.9rem;
        .lang-select-list{
            display: flex;
            margin-bottom: 0.1rem;
            justify-content: center;
            a{
                display: inline-block;               
                font-size: 0.14rem;
                color: #757575;
            }
        }
        .nf-intro{
            color: #757575;           
            text-align: center;
            font-size: .14rem;
        }
    }
    .ercode{
        position: absolute;
        top: 0;
        right: 0;
        width: 0.68rem;
        height: 0.68rem;
        display: flex;
    }
}